/* uiToggle Android-style checkbox */

.uiToggle {
    cursor: pointer;
    position: relative;
    display: inline-block;
    margin: 15px 8px;
}

.uiToggle input {
    visibility: hidden;
    margin-left: 45px;
}

input:checked~.uiToggle-ball {
    background: #4285F5;
    left: 26px;
}

input:checked~.uiToggle-slide {
    background: #a2c2fa;
}

.uiToggle-slide {
    display: block;
    width: 50px;
    height: 20px;
    background: #939393;
    border-radius: 10px;
    position: absolute;
    top: 0;
    transition: .5s;
}

.uiToggle-ball {
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background: white;
    position: absolute;
    top: -4px;
    left: -4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: .5s;
}
