#rez {
    border: 0;
    height: 100%;
    z-index: 102;

    background: white;
    position: fixed;
    right: -15px;
}

#rez iframe{
    height: 100%;
    width: 100%;
    border: 0;
    opacity: 0;
}


#rez iframe.show{
    opacity: 1;
    transition: opacity 0.5s 0.5 ease; 
}



.current {
    background: aliceblue;

    __transition: 0.1s .5s; 
    transition:opacity 0.2s 0 ease; 

}



/*   restyle google default page */


#center_col{
    margin-left: 0px !important;
}

.hdtb-mitem.hdtb-imb{
    margin-left: 15px !important;
}

body {
    __margin-left: -120px !important;
}


#footcnt, .rgsep, #extrares, #foot{
    display: none;
}

.g{
    padding-right: 5px;
}

#hdtbSum{
    border: 0 !important;
}

#slim_appbar{
    margin-left: 0px !important;
}