#rez {
    border: 0;
    height: 100%;
    z-index: 102;
    background: white;
    position: fixed;
    right: -15px;
}

#rez iframe {
    height: 100%;
    width: 100%;
    border: 0;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
}

#rez iframe.show {
    visibility: visible;
    opacity: 1;
    transition-delay: 0, .5s;
    transition: opacity .5s ease-in-out;
}

.current {
    background: aliceblue;
    __transition: 0.1s .5s;
    transition: opacity 0.2s 0 ease;
}
.solar .current {
    background: #BDE0FF;
}


/* restyle google default page */

html:not(.disableAutoloadApp) #center_col {
    margin-left: 0px !important;
}
html:not(.disableAutoloadApp) .hdtb-mitem.hdtb-imb {
    margin-left: 15px !important;
}

html:not(.disableAutoloadApp) #footcnt,
html:not(.disableAutoloadApp) .rgsep,
html:not(.disableAutoloadApp) #extrares,
html:not(.disableAutoloadApp) #foot {
    display: none;
}

html:not(.disableAutoloadApp) .g {
    padding-right: 5px;
}

html:not(.disableAutoloadApp) #hdtbSum {
    border: 0 !important;
}

html:not(.disableAutoloadApp) #slim_appbar {
    margin-left: 0px !important;
}

/* shrink searchbox */

html:not(.disableAutoloadApp) #tsf{
    max-width: 33% !important;
}
html:not(.disableAutoloadApp) .sfibbbc{
    max-width: 100% !important;
}

/* google search topbar fixed */

html:not(.disableAutoloadApp) #searchform {
    position: fixed !important;
}

html:not(.disableAutoloadApp) #gbw>div>div {
    position: fixed;
    right: 0px;
}

html:not(.disableAutoloadApp) #ab_ctls {
    right: 0px !important;
    top: -5px;
}




/* solar */
.solar{
	-webkit-filter: invert(100%);
    transition: 1.5s;
}
body:not(.solar){
    transition: 1.5s;
}
.solar img{
	-webkit-filter: invert(100%) !important;   
    transition: 1.5s;
}
#cnt{
    background: white;
}

/* settings */
#config {
    position: absolute;
    left: 100%;
    top: 0px;
    width: 120%;

    font-family: 'Roboto', Verdana;
    font-size: 11pt;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgb(241, 241, 241);

    padding: 13px 12px 6px;
    border-bottom: 1px solid #e5e5e5;
}

